{% extends 'GPSpider/base.html' %}
{% block body %}

    <h1>Search Result List :</h1>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-sm">
        <tr>
            <th>S No</th>
            <th>Name</th>
            <th>ID/Number</th>
            <th>Developer Name</th>
            <th>Developer Email</th>
            <th>Icon URL</th>
        </tr>
    {% for app in result %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="/app/detail/{{ app.uid }}">{{ app.name}}</a></td>
            <td>{{ app.uid }}</td>
            <td>{{ app.dev_name}}</td>
            <td>{{ app.dev_email}}</td>
            <td><a href="{{ app.icon_url }}">Click here</a></td>
        </tr>
        {% endfor %}
    </table>
    </div>

    {% endblock %}