{% extends 'GPSpider/base.html' %} {% block body %}



<div class="container">
    <br/>
	<div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8">
                            <form class="card card-sm"  method="post" enctype="multipart/form-data">
                                <div class="card-body row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-search h4 text-body"></i>
                                    </div>
                                    <!--end of col-->
                                    <div class="col">
                                        {% csrf_token %}
                                        <input class="form-control form-control-lg form-control-borderless" name="query" type="search" placeholder="Search topics or keywords">
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto">
                                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                                    </div>
                                    <!--end of col-->
                                </div>
                            </form>
                        </div>
                        <!--end of col-->
                    </div>
</div>







<br> {% if result %} Search Result :
<br>
<table class="table table-bordered">
    <tr>
        <th>S No</th>
        <th>Name</th>
        <th>ID/Number</th>
        <th>Developer Name</th>
        <th>Developer Email</th>
        <th>Icon URL</th>
    </tr>
    {% for app in result %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>
            <a href="/app/detail/{{ app.uid }}">{{ app.name}}</a>
        </td>
        <td>{{ app.uid }}</td>
        <td>{{ app.dev_name}}</td>
        <td>{{ app.dev_email}}</td>
        <td>
            <a href="{{ app.icon_url }}">Click here</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %} {% endblock %}